@font-face {
    font-family: "anime";
    src: url("https://res.cloudinary.com/dnxcwu6dk/raw/upload/v1587323050/html-css-kitchen/animeace-webfont_mcueg3.woff2") format('woff2'),
        url("https://res.cloudinary.com/dnxcwu6dk/raw/upload/v1587323050/html-css-kitchen/animeace-webfont_msw6do.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 500ms;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

#game-space {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 700px;
}


#info-caption {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    min-height: 40px;
    max-height: 50px;
}


#info {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    background-color: rgb(55, 226, 238);
    color: white;
}

#game {
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #f3be89;
    background-image: linear-gradient(90deg,
            rgba(3, 2, 3, 0.3) -5%,
            rgba(0, 0, 0, 0) 4%,
            rgba(3, 2, 3, 0) 96%,
            rgba(3, 2, 3, 0.3) 102%),
        linear-gradient(180deg,
            rgba(3, 2, 3, 0.2) -2%,
            rgba(0, 0, 0, 0) 4%,
            rgba(3, 2, 3, 0) 96%,
            rgba(3, 2, 3, 0.2) 100%);
    box-shadow: 1px 10px 15px .5px #000000;
}

#game * {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "anime", sans-serif;
    color: black;
}


.bar {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px 5px 30px;
    width: 100%;
    min-height: 30px;
}

.bar div {
    display: flex;
}

#score-bar .player {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 20px;
}

#score-bar .player:nth-child(1) {
    border-right: 2px solid rgba(0, 0, 0, 0.603) !important;
}

.player *:nth-child(1) {
    padding-bottom: 5px;
}

#score-bar #reset {
    align-self: flex-start;
    font-size: 15px;
    cursor: pointer;
}

#board {
    flex: 1 1 auto;
    width: 100%;
    background-image: radial-gradient(#044a34, black);
}

#board * {
    background-color: transparent;
    color: white;
    border-color: white;
    text-align: center;

}

#board>* {
    height: 100%;
    width: 100%;
}

#select-ui {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    padding-top: 90px;
    z-index: 71;
    font-size: 25px;
}

#select-ui .buttons {
    margin-top: 35px;
}

#select-ui button {
    padding: 7px 13px;
    margin: 5px 10px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgba(255, 255, 255, .55);
    border: 2px dashed rgba(255, 255, 255, 0);
    border-radius: 1000px;
}

#select-ui button:hover,
.active {
    border-color: white;
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
}

#game-board .tile {
    border: 1px solid white;
    font-size: min(18vw, 110px);
}

#game-board .tile:nth-child(3n) {
    border-right: none;
}

#game-board .tile:nth-child(3n+1) {
    border-left: none;
}

#game-board .tile:nth-child(-n+3) {
    border-top: none;
}

#game-board .tile:nth-last-child(-n+3) {
    border-bottom: none;
}

.hide {
    display: none !important;
}