    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: all 300ms;
        color: #3c4043;
    }

    span,
    b {
        color: inherit;
    }

    b {
        font-weight: 500;
    }

    b b {
        font-weight: 700;
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    button:active,
    button:focus,
    button:hover {
        outline: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    ol,
    ul {
        list-style-type: none;
    }

    svg {
        fill: #5f6368;
        color: #5f6368;

    }

    ::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #cccccc;
    }

    #root {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        border-bottom: 1px solid rgba(147, 148, 148, 0.18);
    }

    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        padding: .7rem;
        margin: 0 .2rem
    }

    .input {
        display: flex;
        padding: 0px 1rem;
        align-items: center;
        background-color: #f1f3f4;
        border-radius: 5px;
        width: 100%;
        max-width: 720px;
        height: 48px;
        transition: all 500ms;
        flex: 1 1 auto;

    }

    .input * {
        background-color: inherit;
    }

    .loop-logo {
        position: relative;
        top: 2px;
    }

    #search {
        outline: none;
        border: none;
        height: 100%;
        flex: 1 1 auto;
        padding-left: .8rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .caret {
        height: 24px;
        width: 24px;
        margin-left: auto;
    }

    .icons {
        display: flex;
        align-items: center;
    }

    .icons>a {
        display: block;
        width: auto;
        padding: .7rem;
    }

    .icons>a:last-child>span {
        line-height: 2;
        text-align: center;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 99999px;
        background-color: indigo;
        color: white;
        font-size: 1rem;
    }

    .body {
        display: flex;
        flex: 1 0 0;
        overflow: hidden;
    }

    .aside {
        display: flex;
        flex-direction: column;
        width: 260px;
    }

    .message {
        width: fit-content;
        display: flex;
        align-items: center;
        margin: 1.2rem .5rem;
        padding: .5rem 1.2rem;
        box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
        border-radius: 999999px;
    }

    .message>span {
        font-size: .9rem;
        font-weight: 500;
        padding-left: .2rem;
    }

    .labels {
        width: 100%;
        font-size: .875rem;
        flex: 1 0 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: .8rem;
    }

    .label {
        width: 100%;
        display: flex;
        align-items: center;
        padding: .4rem 0;
        padding-left: 1.7rem;
        padding-right: .5rem;
        text-overflow: ellipsis;
        border-top-right-radius: 99999px;
        border-bottom-right-radius: 99999px;
    }

    .label span,
    .label b {
        color: inherit;
    }

    .label:first-child {
        color: #d93025;
        background-color: #fce8e6;
    }

    .label:not(:first-child)>img,
    .label>svg {
        opacity: .54;
    }

    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .label>span:last-child {
        margin-left: auto;
    }


    .me {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-bottom: 1px solid rgba(147, 148, 148, 0.18);
        border-top: 1px solid rgba(147, 148, 148, 0.18);
    }

    .me .i {
        position: relative;
        display: inline-block;
        width: auto;
        padding: .5rem;
    }

    .me .i>span {
        line-height: 2;
        text-align: center;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 99999px;
        background-color: indigo;
        color: white;
        font-size: 1rem;
    }

    .i>span::before {
        content: " ";
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 9999px;
        background-color: rgb(28, 179, 28);
        bottom: 8px;
        right: 8px;
    }

    .people {
        flex: 1 0 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .person {
        border: none;
    }

    .person .i span::before {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
    }

    .checkbox {
        display: inline-block;
        border-radius: 3px;
        width: 16px;
        height: 16px;
        border: 2px solid #5f6368;
    }

    .menu-bar {
        padding: 1rem 0;
        display: flex;
        align-items: center;
    }

    .menu-bar>* {
        margin: 0 .7rem;
    }


    .email-list {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
    }

    .categories-bar {
        display: flex;
        flex: 0 0 0;
    }

    .categories-bar>* {
        width: 250px;
        height: 55px;
        display: flex;
        align-items: center;
    }

    .list {
        flex: 1 1 0;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .email {
        display: flex;
        align-items: center;
        padding: .6rem 1rem;
        border-bottom: 1px solid rgba(147, 148, 148, 0.18);
    }

    .email:first-child {
        border-top: 1px solid rgba(147, 148, 148, 0.18);
    }

    .email * {
        color: #202124;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .email>span.grow {
        flex: 1 1 auto;
    }

    .more {
        display: flex;
        flex-direction: column;
        padding: .4rem .5rem;
        border-left: 1px solid rgba(147, 148, 148, 0.18);
    }

    .more button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-bottom: 1rem;
    }