#carousel img {
    object-fit: fill;
}

#carousel {
    max-width: 900px;
    min-width: 0px;
    height: 300px;
}

.places .card {
    max-width: 500px;
    min-width: 200px;
    min-height: 120px;
    max-height: 100%;
}

.description section img {
    max-width: 500px;
    min-width: 0px;
}

@media (min-width: 768px) {
    #carousel {
        height: 400px;
    }
}