body {
    background-image: url("https://cameroontourismlink.files.wordpress.com/2012/01/9116484.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.login {
    background: inherit;
    width: 100%;
    max-width: 400px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: calc(((100vh - 400px) / 2) + 25px);
}

.login:before {
    content: " ";
    background: inherit;
    position: absolute;
    left: -30px;
    right: 0;
    top: -30px;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.2);
    filter: blur(15px);
}

input {
    background-color: transparent !important;
}

@media (max-width: 400px) {
    .login {
        top: 55px;
        height: 100%;
    }
}