    :root {
        --bgColor: red;
        --bColor: blue;
        --bType: inset;
        --bWidth: 2px;
        --w: 200px;
        --h: 200px;
        --t: 0px;
        --l: 0px;
        --z: auto;
        --blur: 0px;
        --sType: inset;
        --sOffset: 0px 0px;
        --sBlur: 3px;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        overflow: visible;
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        position: absolute;
        background-color: var(--bgColor);
        border: var(--bType) var(--bWidth, 2px) var(--bColor);
        width: var(--w);
        height: var(--h);
        top: var(--t);
        left: var(--l);
        z-index: var(--z);
    }

    .box,
    .blur {
        filter: blur(var(--blur));
    }

    .shadow {
        box-shadow: var(--sOffset) var(--sBlur) var(--sColor, var(--bColor)) var(--sType);
    }

    .main {
        width: auto;
        height: auto;
    }

    .box-1,
    .box-3 {
        position: relative;
    }

    .box-1 {
        --bColor: rgb(3, 16, 197);
        --blur: .6px;
    }

    .box-2 {
        --bgColor: rgb(83, 3, 231);
        --bColor: white;
        --bType: solid;
        --w: 130px;
        --h: 130px;
        --t: 30px;
        --l: 40px;
        --blur: 0px;
        --sColor: black;
    }

    .box-2>span {
        --blur: 1px;
    }

    .box-3 {
        --bgColor: yellow;
        --bColor: #d20101;
        --t: -130px;
        --l: 50px;
    }

    .box-4 {
        --bColor: green;
        --bType: solid;
        --w: 100px;
        --h: var(--w);
        --t: 50px;
        --l: 20px;
        --z: 2;
    }

    .box-5 {
        --bgColor: rgb(70, 232, 59);
        --bColor: rgb(3, 12, 129);
        --bType: solid;
        --w: 110px;
        --h: 110px;
        --t: 75px;
        --l: 10px;
        --z: 3;
        --sBlur: 2px;
    }

    .box-6 {
        --bgColor: red;
        --bColor: rgb(3, 12, 129);
        --bType: solid;
        --w: 120px;
        --h: 120px;
        --t: 15px;
        --l: 60px;
        --z: 1;
        --blur: .7px;
    }