*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: all 300ms;
    border: 0px solid #a7d7f9;
    border-color: #a7d7f9;
}

span,
b {
    color: inherit;
}

b {
    font-weight: 700;
}

b b {
    font-weight: 700;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

button:active,
button:focus,
button:hover {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0645ad;
    font-family: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #faa700;
}

a:visited {
    color: #0b0080;
}

ol,
ul {
    list-style-type: none;
}

svg {
    fill: #5f6368;
    color: #5f6368;
}

body {
    display: flex;
    background-color: #f6f6f6;
}

.sans-serif {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.serif {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.root {
    display: flex;
    flex-direction: column;
}

.side-nav {
    width: 180px;
    font-size: 0.8rem;
    flex-shrink: 0;
    padding-left: 1.7rem;
    padding-right: 0.7rem;
    font-weight: 400;
}

.side-nav h3 {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    color: #8e8d8d;
    font-weight: inherit;
    font-size: 0.75rem;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right,
            transparent 0,
            #c8ccd1 35%,
            #c8ccd1 70%,
            transparent 100%);
    border-image-slice: 1;
}

.side-nav li {
    padding: 0.15rem 0;
}

.languages {
    cursor: pointer;
    font-size: .85rem;
    font-weight: normal;
    text-align: left;
    padding: .2rem;
    border: 1px solid #a2a9b1;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.modify-link {
    color: #72777d;
    font-size: .72rem;
    float: right;
    margin-right: 0.5rem;
}

.modify-link:hover,
.modify-link:hover svg path {
    color: #0645ad;
    fill: #0645ad;
}



.horizontal-navigation {
    font-size: 0.8rem;
    background: linear-gradient(to bottom, #fff 50%, #e8f2f8);
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.top-bar li {
    margin: 0 0.5rem;
}

.main-bar {
    width: 100%;
    display: flex;
    padding: 0 1rem;
    padding-left: 0;
    margin-top: 1rem;
}

.main-bar>ul {
    display: flex;
    flex: 1 1 0;
}

.main-bar li {
    padding: 0.3rem 1rem;
    border: solid 1px #a8d7fc;
    border-top: none;
    border-left: none;
}

.main-bar li:first-child,
.main-bar li:nth-child(3) {
    border-left: solid 1px #a8d7fc;
}

.main-bar li.active {
    background-color: white;
    border-bottom: none;
}

.main-bar .bg-white {
    background-color: white;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
    height: 100%;
    border-bottom: solid 1px #a8d7fc;
}

.main-bar form * {
    border: none;
    height: 100%;
}

.main-bar form {
    border: 1px solid #72777d;
    border-radius: 2px;
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
}

.main-bar form input {
    flex: 1 0 0;
    padding: 0.3rem 0;
}

.banner {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
    background: url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Wikipedia-logo-v2-o50.svg") no-repeat -110px -15px,
        linear-gradient(to bottom, rgb(255, 255, 255), #e8f2f8) no-repeat center;
    background-size: 300px 300px, cover;
}

.title {
    font-family: "Open Sans", Sans-serif;
    color: #457;
    padding-right: 3rem;
}

.banner>div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: #0645ad;
}

.banner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.banner li {
    padding: 0rem 0.5rem;
}

.main-section {
    padding: 1.5rem;
    border-left-width: 1px;
    border-bottom-width: 1px;
    background-color: white;
}

.main-content {
    display: flex;
}

.main-content>* {
    width: 50%;
    flex: 1 1 0;
}

.main-content>*:first-child {
    padding-right: 1rem;
}

.main-content>div {
    display: flex;
    flex-direction: column;
}

.main-content>div>div {
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 0 0.3rem #999;
    border-radius: 5px;
    font-size: 0.9rem;
    flex: 1 0 0;
}

.main-content>div>div h2 {
    font-variant: small-caps;
    letter-spacing: 0.01em;
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    line-height: 1.3;
    border-bottom-width: 2px;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}

.main-content>div>div img {
    float: right;
}

.main-content>div>div ul {
    padding-left: 2rem;
    list-style-type: disc;
}

.main-content>div>div>div:last-of-type {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1.5rem;
    flex-direction: column;
}

.main-content>div>div>div:last-of-type ul {
    list-style-type: none;
    display: flex;
}

.main-content>div>div>div:last-of-type b {
    font-weight: 500;
}

.main-content>div>div>div:last-of-type ul li:not(:first-of-type)::before {
    content: " . ";
    position: relative;
    bottom: 3px;
    white-space: pre;
}

.wikimedia {
    height: 3px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    overflow: visible;
    margin: 2.5rem 0;
}

.partners {
    font-size: 0.9rem;
}

.partners>div:last-of-type {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
    padding-left: 1rem;
}

.partners>div:last-of-type>div {
    padding-right: 1rem;
    margin-bottom: 1rem;
    width: 210px;
    flex: 0 0 auto;
    display: flex;
}

.partners>div:last-of-type>div a {
    color: #36b;
}

.partners>div:last-of-type>div>div:first-of-type {
    display: flex;
    align-items: center;
}

.partners>div:last-of-type>div>div:last-of-type {
    padding-left: 1rem;
}

.partners>div:last-of-type>div>div:last-of-type span {
    display: inline-block;
    padding-top: 0.3rem;
    font-size: 0.8rem;
    color: #777;
}

.footer {
    width: 100%;
    padding: 1.3rem;
}

.footer>ul {
    display: flex;
    font-size: 0.75rem;
}

.footer>ul>li {
    margin-right: 0.5rem;
}

.footer>ul:first-of-type {
    flex-direction: column;
}

.footer>ul:last-of-type {
    position: relative;
    top: -17px;
    float: right;
}

.footer>ul:first-of-type li {
    margin-bottom: 1rem;
}