*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin: 0px 10px;
}

a:hover {
    text-decoration: underline;
}

.products {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    width: 30px;
    height: 30px;
}

.products:hover {
    opacity: 1;
}

a.login {
    border: 1px solid #4285f4;
    font-weight: bold;
    color: white;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    padding: 7px 13px;
    border-radius: 2px;
    text-decoration: none !important;
}

#googlelogo {
    margin-top: 110px;
}

.main form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
    padding: 0px 20px;
}

.input {
    display: flex;
    margin-top: 30px;
    padding: 0px 15px;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 99999px;
    width: 100%;
    height: 45px;
    transition: all 500ms;
    flex: 1 1 auto;

}

.input:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.loop-logo {
    position: relative;
    top: 2px;
}

#search {
    outline: none;
    border: none;
    height: 100%;
    flex: 1 1 auto;
    padding-left: 10px;
}

.voice-search {
    background: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    margin-left: auto;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.buttons button {
    outline: none;
    margin: 0px 5px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    color: #5F6368;
    border-radius: 4px;
    padding: 10px 15px;
    transition: all 200ms;

}

.buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: black;
}

.lang-change {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.footer {
    background-color: #f2f2f2;
    color: #5F6368;
    font-size: 14px;
    margin-top: auto;
}

.footer .item {
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    letter-spacing: .2px;
}

.footer .item a {
    display: inline-block;
    color: inherit;
    font-size: inherit;
}

.footer .item a::first-letter,
.footer .item span::first-letter {
    text-transform: uppercase;
    font-size: 15px;
}