*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: all 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    text-align: left;
    width: 100%;
}

li {
    list-style-type: none;
}

a:not(.decorated) {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 76);
}


.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f9ae4e;

}

.brand {
    margin-right: auto;
    font-weight: bolder;
    color: rgb(255, 0, 76);
    font-size: 1.2rem;
}

.nav {
    margin: 0 .5em;
    width: auto;
}

.nav li {
    display: inline-block;
    margin: 0px 10px;
}

.nav a {
    text-decoration: none;
    font-weight: 500;

}

.nav a:hover,
.nav a:hover.active {
    color: rgb(255, 0, 76);

}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
    padding: 1em;
}

.content .top-title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 1em 0;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.top li {
    flex: 0 0 18%;
    margin: .5em auto;
}

.top a {
    display: block;
    min-width: 200px;
    padding: 1em;
    background-color: rgb(1, 216, 134);
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 5px;
    text-align: center;

}

.top a:hover {
    transform: scale(1.05);
}

.desc {
    display: block;
    color: white;
    padding-top: 1em;
    text-align: left;
    font-size: .75rem;
    font-weight: 500;
}