.content>ul {

    margin-left: 1em;
}


.lessons {
    margin-top: 1em;
    margin-left: .75em;
}

ul>li {
    margin: .5em 0;
    font-weight: 500;
    font-size: 1.1em;
}

.desc {
    width: 100%;
    font-size: medium;
    margin-bottom: 1em;
}

div.desc {
    display: inline-block;
    color: black;
}