body {
    display: flex;
    flex-direction: column;

}

#main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    border-radius: 10px;
    background-color: #f5f5f5;
    min-width: 300px;
    min-height: 300px;
}

input[type="text"],
input[type="password"],
button[type="submit"],
select,
textarea {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    min-width: 250px;
    padding: .8em;
    font-size: 1rem;
}

button[type="submit"] {
    text-align: center;
    width: auto;
    min-width: 100px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: rgb(255, 0, 76);
}