h2 {
    padding: .5em 0;
}

.lesson {
    --margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - (2 * var(--margin)));
}

.lesson>* {
    flex: 1 1;
    min-width: 250px;
}

@media (min-width: 600px) {
    .lesson>* {
        margin: var(--margin);
    }
}

.lesson .references,
.lesson .title {

    width: 100%;
    flex: 0 0 auto;
}

.lesson .title {
    text-align: center;
}

.lesson .course-content {
    flex-basis: 20%;
}

.lesson .explanations::before,
.lesson .references::before,
.lesson .course-content::before {
    white-space: pre;
}

.lesson .explanations::before {
    content: "Explanations \A\A ";
}

.lesson .references::before {
    content: "References \A\A ";
}

.lesson .course-content::before {
    content: "Lesson \A\A";
}

.chapter {
    display: inline-block;
    margin-left: 20px;
}