*,
::before,
::after {
  margin: 0em;
  padding: 0em;
  list-style: none;
  text-decoration: none;
  font-family: roboto, raleway, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  transition: all 300ms;
}

html {
  line-height: 1.15;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;
}

img {
  border-style: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 1.875rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

nav .brand {
  background: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  animation: hue 40s linear 2s infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.timeline:after {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #718096;
  width: 2px;
  content: "";
  margin-left: -3px;
}

.timeline-item .content {
  color: #1a202c;
}

.timeline-item .content > h5 {
  width: 160px;
}

.timeline-item:after {
  position: absolute;
  border-width: 2px;
  border-color: #718096;
  border-radius: 50%;
  z-index: 10;
  width: 0.75rem;
  height: 0.75rem;
  left: 0;
  background-color: #fff;
  left: calc(-2px - 0.375rem);
  top: 16px;
  content: "";
}

.rounded-50 {
  border-radius: 50%;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-6 {
  margin-left: 1.5rem;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.p-2 {
  padding: 0.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.relative {
  position: relative;
}

.text-white {
  color: #fff;
}

.text-gray-600 {
  color: #718096;
}

.text-gray-700 {
  color: #4a5568;
}

.text-gray-900 {
  color: #1a202c;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.no-break {
  word-break: keep-all;
  white-space: nowrap;
}

p {
  color: #1a202c;
  padding: 0.5rem;
}

img,
video,
embed {
  max-width: 100%;
}

#content {
  position: relative;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

#content > div {
  padding: 0 2rem;
}

nav {
  padding: 1rem;
  background-color: #1a202c;
  color: white;
  max-height: 70px;
  align-items: center;
}

nav > ul {
  margin-left: auto;
  padding-right: 2rem;
  font-weight: bold;
}

nav > ul > li {
  padding: 0 0.5rem;
}

nav > ul > li:hover {
  color: gold;
}

.dropdown > ul {
  opacity: 0;
  position: absolute;
  left: -50%;
  padding: 1rem 0;
  background-color: #1a202c;
  color: white;
}

.dropdown:hover > ul {
  z-index: 5;
}

.dropdown ul > li {
  padding: 0.5rem 2rem;
  transition: all 100ms;
}

.dropdown ul > li:hover {
  background-color: white;
  color: #1a202c;
}

.dropdown:hover ul {
  opacity: 1;
}

.images {
  padding-bottom: 56.25%;
  max-width: 900px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  animation: slide 4s 0s linear forwards infinite;
}

.image:nth-child(2) {
  animation-delay: 2s;
}

.image:nth-child(3) {
  animation-delay: 4s;
}

.image:nth-child(4) {
  animation-delay: 6s;
}

@keyframes slide {
  0% {
    position: absolute;
  }

  100% {
    position: static;
  }
}

#Hobbies h4 {
  padding-left: 2rem;
}

section {
  transition: all 500ms;
  padding: 0.5rem;
  border-radius: 5px;
}

section:not(#Accueil):hover {
  background-color: #33353817;
}

#content .copy-right {
  padding: 1rem;
  background-color: #1a202c;
  color: white;
}

.justify-between {
  justify-content: space-between;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}
